* {
    margin: 0;
    padding: 0;
} /* remove top and left whitespace */

body {
    width: 100%;
    height: 100%;
    overflow: visible;
}

#gameWrapper {
    width: 100vw;
    height: 100vh;
    display: none;
}

#container {
    display: block;
    height: 80vh;
    width: 80vw;
    margin: 0 0;
    position: relative;
}

.img {
    position: absolute;
    z-index: -1;
}

.center-fit {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#mainMenuWrapper {
    text-align: center;
    display: block;
}

#settingsWrapper {
    text-align: center;
    display: none;
}

#statsWrapper {
    text-align: center;
    display: none;
}

.statsDiv {
    width: 90vw;
    margin-left: 5vw;
}

#statsMessage {
    width: 50%;
    margin-left: 25vw;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#gameCanvas {
    width: 100%;
    height: 100%;
    margin-left: 10vw;
    margin-top: 10vh;
    background-color: rgb(141, 204, 82);
    position: absolute;
    z-index: 20;
}

#mainMenuTitle {
    text-align: center;
    padding-top: 5vh;
    font-size: 10vh;
    margin-bottom: 2vh;
}

#settingsSelection {
    padding-bottom: 1vh;
    padding-top: 1vh;
}

#settingsTable {
    width: 80vw;
    margin: auto;
}

.settingsTableTR {
    height: 100px;
}

.buttonMainMenu {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 2.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 0.5vh 0.2vh;
    cursor: pointer;
    width: 20vw;
    transition-duration: 0.4s;
}
.buttonMainMenu:hover {
    background-color: #2c6b2e;
}

.buttonRound12 {
    border-radius: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
